Programming Task 1/Connected Services/Greedy/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57279/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfsServiceLibrary" />
  <xs:element name="Greedy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deadline" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfsServiceLibrary" minOccurs="0" name="cd" nillable="true" type="q1:ConfigData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GreedyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfsServiceLibrary" minOccurs="0" name="GreedyResult" nillable="true" type="q2:AllocationsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>